@media (max-width: 1100px) {
    header {
        width: 40vw;
        left: -40vw;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        transition: left 1s;
    }
    .hamburger {
        transition: left 1s;
        background-color: rgba(0,0,0,0);
        left: 0px;
    }
    .logoHamburger {
        transition: all 1s;
    }
    .hamburger:focus ~ header{
        left: 0;
    }
    .hamburger:focus{
        left: 40vw;
        transition: left 1s;
    }
    .hamburger:focus ~ .logoHamburger {
        left: 40vw;
    }
    .hamburger:focus ~ .logoHamburger .div1{
        transform: rotate(45deg) translateY(10px) translateX(12px);

    }

    .hamburger:focus ~ .logoHamburger .div3{
        transform: rotate(-45deg) translateY(-10px) translateX(12px);

    }

    .hamburger:focus ~ .logoHamburger .div2 {

        transform: rotate(-45deg) translateY(1px) translateX(1px);
    }

/*
    .hamburger:focus ~ .logoHamburger .div2{

        transform: translateX(1200px);

    }*/

    main {
        width: 100vw;
        min-height: 85vh;
        margin: 0;
    }

    .lienFiltre {
        width: fit-content;
    }

    .boxFiltre {
        width: 50%;
    }


}

@media (max-width: 1000px) {
    .card {
        width: 43%;
    }

    .boxdetailimg {
        width: 50%;
    }

}

@media (max-width: 900px) {
    .boxFiltre {
        width: 70%;
    }
}

@media (max-width: 650px) {
    header {
        width: 70vw;
        left: -70vw;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        transition: left 1s;
    }
    .hamburger {
        transition: left 1s;
        background-color: rgba(0,0,0,0);
        left: 0px;
    }
    .logoHamburger {
        transition: all 1s;
    }

    .hamburger:focus{
        left: 70vw;

    }
    .hamburger:focus ~ .logoHamburger {
        left: 70vw;
    }
    .card {
        width: 90%;
    }

    .boxFiltre {
        width: auto;
        margin: 2em 10% 2em 2em;
    }

    .divFiltre {
        flex-direction: column;
    }
}

@media (max-width: 420px) {
    .box {
        width: 80%;
        margin: 3vw;
    }
}