@media (max-width: 1000px) {
    .card {
        width: 43%;
    }
    .detailbox {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 702px) {
    header {
        width: 70vw;
        left: -65vw;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        transition: left 1s;
    }

    header:hover {
        left: 0;
    }

    main {
        width: 100vw;
        min-height: 85vh;
        margin: 0;
    }
    .divFiltre {
        flex-direction: column;
    }
    .lienFiltre {
        width: 80%;
    }


}
@media (max-width: 650px) {

    .card {
        width: 90%;
    }

}